# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtualenv
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Distribuição / build / zips
*.zip
build/
dist/
*.egg-info/
